html {
  box-sizing: border-box;
  font-family: "Sigmar One", serif;
  line-height: 1.5;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div p {
  font-family: Georgia;
}

header {
  background-color: #ffe500;
  color: #b20953;
  padding-bottom: .3em;
}

.berries a {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-color: #b2a212;
  padding: .2em .5em .3em;
  border-radius: 4px;
  font-family: Georgia;
  font-size: 1.125rem;
}

.berries li {
  list-style-type: none;
  display: inline-block;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 3rem;
}

body {
  background-color: white;
  margin: 0;
  text-align: left;
}

#copywright {
  background-color: #ffe500;
  text-align: center;
  font-size: 1rem;
  padding: .75em;
  font-family: Georgia;
}

h2 {
  color: #b20953;
  font-size: 1.875rem;
  margin: .3em;
  margin-left: 0;
  padding-top: .3em;
  padding-bottom: .5em;
}

.content + .text {
  display: inline-block;
  width: 100%;
}

nav a:hover {
  background-color: #cc1465;
}

.berries .current {
  background-color: #b20953;
}

.text {
  padding: .5em .5em 0 .75em;
  max-width: 40em;
  display: inline-block;
  color: #2f2d13;
}

.berries {
  text-align: center;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  max-width: 40em;
  display: block;
  margin-bottom: .3em;
}

p {
  margin-top: .3em;
  padding-top: .3em;
}
